---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

import {title} from "../API/defaultSiteValues"
import Footer from "../components/Footer.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
---

<Layout title="404 - Not Found" desc=" ">
    <Header title={title}/>
    <ContentLayout>
        <div class="w-100 bg-white py-5">
            <p class="fs-1 fw-bold text-center">404 Not Found</p>
        </div>
    </ContentLayout>
    <Footer title={title}/>
</Layout>