---
import { title } from "../API/defaultSiteValues";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import Layout from "../layouts/Layout.astro";

const desc = "If you require any more information or have any questions about our site’s disclaimer, please feel free to contact us by email"
---

<Layout title={"Contact us - "+title} desc={desc} index={true}>
    <Header title={title}/>
    <ContentLayout>
        <div class="bg-white px-2 py-2 mb-2">
            <h2>Disclaimer</h2>
            <!-- wp:paragraph -->
            <p>If you require any more information or have any questions about our site’s disclaimer, please feel free to contact us by email at&nbsp;eliteanswers.in@gmail.com. Our Disclaimer was generated with the help of the Disclaimer Generator.</p>
            <!-- /wp:paragraph -->

            <!-- wp:heading -->
            <h2 class="wp-block-heading">Disclaimers for EliteAnswers.in</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>All the information on this website – https://eliteanswers.in/ – is published in good faith and for general information purpose only. EliteAnswers.in does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (EliteAnswers.in), is strictly at your own risk. EliteAnswers.in will not be liable for any losses and/or damages in connection with the use of our website.</p>
            <!-- /wp:paragraph -->

            <!-- wp:paragraph -->
            <p>From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone ‘bad’.</p>
            <!-- /wp:paragraph -->

            <!-- wp:paragraph -->
            <p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their “Terms of Service” before engaging in any business or uploading any information.</p>
            <!-- /wp:paragraph -->

            <!-- wp:heading -->
            <h2 class="wp-block-heading">Consent</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
            <!-- /wp:paragraph -->

            <!-- wp:heading -->
            <h2 class="wp-block-heading">Update</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
            <!-- /wp:paragraph -->

            <!-- wp:heading -->
            <h2 class="wp-block-heading">Contact Information</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>If Have Any Issue with EliteAnswers.in the we are always here to assist you on Email. The only way To contact us through email here is our email:&nbsp;eliteanswers.in@gmail.com.</p>
            <!-- /wp:paragraph -->

            <!-- wp:heading -->
            <h2 class="wp-block-heading">Additional information</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Know more about our site by visiting this url: https://eliteanswers.in/. We are operating from Telangana, India.</p>
            <!-- /wp:paragraph -->
        </div>
    </ContentLayout>
    <Footer title={title}/>
</Layout>