---
// Astro.response.headers.set('Content-Type', 'application/xml');
export const siteURL = Astro.request.url;
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>My Awesome Blog</title>
    <link>https://myawesomeblog.com</link>
    <description>Insights, stories, and tutorials on various topics.</description>
    <language>en-us</language>
    <pubDate>Tue, 19 Dec 2024 14:00:00 +0000</pubDate>
    <lastBuildDate>Tue, 19 Dec 2024 14:00:00 +0000</lastBuildDate>
    
    <item>
      <title>How to Learn JavaScript in 30 Days</title>
      <link>https://myawesomeblog.com/learn-javascript</link>
      <description>A comprehensive guide to mastering JavaScript quickly.</description>
      <pubDate>Sun, 17 Dec 2024 09:00:00 +0000</pubDate>
      <guid>https://myawesomeblog.com/learn-javascript</guid>
    </item>

    <item>
      <title>Top 10 Java Tips for Beginners</title>
      <link>https://myawesomeblog.com/java-tips</link>
      <description>Essential Java tips to get you started as a beginner programmer.</description>
      <pubDate>Mon, 18 Dec 2024 08:30:00 +0000</pubDate>
      <guid>https://myawesomeblog.com/java-tips</guid>
    </item>

    <item>
      <title>Building a Simple To-Do App</title>
      <link>https://myawesomeblog.com/todo-app</link>
      <description>Step-by-step tutorial to build your first to-do app using JavaScript.</description>
      <pubDate>Tue, 19 Dec 2024 07:45:00 +0000</pubDate>
      <guid>https://myawesomeblog.com/todo-app</guid>
    </item>

  </channel>
</rss>