---
const {title} = Astro.props;
---

<header>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body fw-semibold px-2" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">{title}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/genre/action/">Action</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/genre/comedy/">Comedy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/genre/crime/">Crime</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/genre/drama/">Drama</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/genre/horror/">Horror</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/genre/thriller/">Thriller</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-nowrap" href="/genre/sci-fi/">Sci-Fi</a>
              </li>
            </ul>
            <form method="GET" action="/search" class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="movie">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <form method="GET" action="/search" class="bg-white p-2 mx-1 my-2 d-lg-none d-flex rounded shadow " role="search">
        <input class="form-control me-2" type="search" placeholder="Search favorite movies" aria-label="Search" name="movie">
        <button class="btn btn-success fw-semibold" type="submit">search</button>
      </form>
</header>


<script>
    document.addEventListener('DOMContentLoaded', () => {
    const navbarToggler = document.querySelector('.navbar-toggler');
    const navbarCollapse = document.querySelector('.navbar-collapse');

    navbarToggler.addEventListener('click', () => {
        navbarCollapse.classList.toggle('show');
    });
});
</script>