---
const { title, desc, index } = Astro.props;
const canonical = Astro.request.url;

// Astro.response.headers.set('Cache-Control', 'public, maxage=3600, stale-while-revalidate=30');
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <meta name="description" content={desc || " "} />
        <link rel="canonical" href={canonical} />
        <meta name="robots" content={(index ? "index,follow" : "noindex") || " "} />
        <link rel="stylesheet" href="/style.css" />
        <link rel="stylesheet" href="/style2.css" />
    </head>
    <body class="bg-dark-subtle col-md-10 m-auto">
        <slot>
            <p>Not Found</p>
        </slot>
        <script is:inline src="/analytics.js"></script>
    </body>
</html>
